# Data Wrangling with Pandas

In [2]:
import pandas as pd

In [3]:
import pandas as pd

# Reading CSV
df_csv = pd.read_csv("C:\\Users\\olang\\Downloads\\my_students.csv")
print(df_csv.head())

   StudentID     Name  Age     City         Course  Score EnrollmentDate
0        101    Alice   25  Nairobi   Data Science     85     10/01/2023
1        102      Bob   30   Kisumu             AI     90     15/02/2023
2        103  Charlie   35  Mombasa  Cybersecurity     78     12/03/2023
3        104    David   40  Eldoret     Networking     88     25/01/2023
4        105      Eva   28   Nakuru   Data Science     92     05/04/2023

In [4]:
# Reading JSON
df_json = pd.read_json("C:\\Users\\olang\\Downloads\\sample.json")
print(df_json)

      Name  Age Country
0    Alice   25   Kenya
1      Bob   30     USA
2  Charlie   35      UK

In [5]:
df_excel = pd.read_excel("C:\\Users\\olang\\Downloads\\sample.xlsx")
print(df_excel)

      Name  Age Country
0    Alice   25   Kenya
1      Bob   30     USA
2  Charlie   35      UK

In [6]:
pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl in c:\users\olang\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\olang\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from openpyxl) (2.0.0)
Note: you may need to restart the kernel to use updated packages.

In [7]:
# Writing back
df_csv.to_csv("output.csv", index=False)
df_excel.to_excel("output.xlsx", index=False)
df_json.to_json("output.json", orient="records")

In [8]:
# Step 1: Import pandas
import pandas as pd

# Step 2: Create some sample data
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "Country": ["Kenya", "USA", "UK"]
}

# Step 3: Turn it into a DataFrame
df = pd.DataFrame(data)
print("This is our DataFrame:")
print(df)

# Step 4: Save into different formats
# Save as CSV
df.to_csv("output.csv", index=False)

# Save as Excel
df.to_excel("output.xlsx", index=False)

# Save as JSON
df.to_json("output.json", orient="records", indent=4)

print("\nFiles saved successfully: output.csv, output.xlsx, output.json")

This is our DataFrame:
      Name  Age Country
0    Alice   25   Kenya
1      Bob   30     USA
2  Charlie   35      UK

Files saved successfully: output.csv, output.xlsx, output.json

In [20]:
# Series (1D)
s = pd.Series([10, 20, 30], name="Scores")
print(s)

# DataFrame (2D)
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "City": ["Nairobi", "Kisumu", "Mombasa"]
}

print(data)

0    10
1    20
2    30
Name: Scores, dtype: int64
{'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'City': ['Nairobi', 'Kisumu', 'Mombasa']}

0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object
Name      Alice
Age          25
City    Nairobi
Name: 0, dtype: object
      Name  Age     City
1      Bob   30   Kisumu
2  Charlie   35  Mombasa
      Name  Age     City
1      Bob   30   Kisumu
2  Charlie   35  Mombasa

In [25]:
# Concatenation
df1 = pd.DataFrame({"Name": ["Alice", "Bob"], "Age": [25, 30]})
df2 = pd.DataFrame({"Name": ["Charlie", "David"], "Age": [35, 40]})
df_concat = pd.concat([df1, df2])


# Merging (join on 'Name')
df_info = pd.DataFrame({"Name": ["Alice", "Bob"], "City": ["Nairobi", "Kisumu"]})
df_merge = pd.merge(df1, df_info, on="Name")
#df_merge
#df_concat

      Name  Age
0    Alice   25
1      Bob   30
0  Charlie   35
1    David   40

In [13]:
print(df.head())     # first 5 rows
print(df.tail())     # last 5 rows
print(df.info())     # column types, non-null counts
print(df.describe()) # stats summary
print(df.shape)      # rows, cols
print(df.columns)    # column names

      Name  Age     City
0    Alice   25  Nairobi
1      Bob   30   Kisumu
2  Charlie   35  Mombasa
      Name  Age     City
0    Alice   25  Nairobi
1      Bob   30   Kisumu
2  Charlie   35  Mombasa
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   City    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes
None
        Age
count   3.0
mean   30.0
std     5.0
min    25.0
25%    27.5
50%    30.0
75%    32.5
max    35.0
(3, 3)
Index(['Name', 'Age', 'City'], dtype='object')

In [26]:
import os
print(os.getcwd())

C:\Users\olang