# Introduction to Pandas

In [3]:
#A Python library for working structured data(like Excel tables)
# Works with rows and columns
# Helps clean,analyze and transform data

In [4]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\olang\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (2.3.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\olang\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\olang\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\olang\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\olang\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\olang\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd

# 1.Reading and Writing Data(CSV, Excel, JSON)

In [6]:
# csv-comma separated value files
# Reading  CSV File

In [7]:
df_csv = pd.read_csv("C:\\Users\\olang\\Downloads\\my_students.csv")
print(df_csv)

   StudentID     Name  Age      City         Course  Score EnrollmentDate
0        101    Alice   25   Nairobi   Data Science     85     10/01/2023
1        102      Bob   30    Kisumu             AI     90     15/02/2023
2        103  Charlie   35   Mombasa  Cybersecurity     78     12/03/2023
3        104    David   40   Eldoret     Networking     88     25/01/2023
4        105      Eva   28    Nakuru   Data Science     92     05/04/2023
5        106    Frank   22     Thika             AI     76     20/05/2023
6        107    Grace   29      Meru  Cybersecurity     80     11/06/2023
7        108    Helen   33  Kakamega     Networking     84     01/07/2023
8        109   Makaya   28   Homabay         Python     79     25/09/2025
9        110     Anne   30    Migori            IoT     81     25/09/2025

In [8]:
# Read Excel file 
df_excel = pd.read_excel("C:\\Users\\olang\\Downloads\\sample.xlsx")
print(df_excel)

      Name  Age     City
0    Alice   25  Nairobi
1      Bob   30  Mombasa
2  Charlie   35   Kisumu
3    David   40  Eldoret

In [9]:
# Read JSON File
df_json = pd.read_json("C:\\Users\\olang\\Downloads\\sample.json")
print(df_json)

      Name  Age     City
0    Alice   25  Nairobi
1      Bob   30  Mombasa
2  Charlie   35   Kisumu
3    David   40  Eldoret

In [10]:
# Writing Dataframe to CSV
df_csv.to_csv("output.csv", index = False) #This will be saved as a CSV file

In [11]:
df_excel.to_excel("Output.xlsx",index=False)  #Save as Excel

In [12]:
df_json.to_json("Output.json", orient="records",indent=4)

In [13]:
print("Files saved successfully: output.csv,ouput.xlsx, ouput.json")

Files saved successfully: output.csv,ouput.xlsx, ouput.json

In [14]:
import os
print(os.getcwd())

C:\Users\olang

# Pandas DataFrames and Series

In [15]:
#Series: one-dimensional labeled array(1D)
ages = pd.Series([22, 25, 30], name = "Age")
print("Series Example:\n",ages)

Series Example:
 0    22
1    25
2    30
Name: Age, dtype: int64

In [16]:
#Dataframe;two-dimensional table(rows & columns)-2D
data = {
    "Name": ["Anne", "Bob", "Jepchirchir"],
    "Age" : [22, 25, 30],
    "City": ["Nairobi", "Lagos", "Ougadogou"]
}
data = pd.DataFrame(data)
print("\nDataFrame Example:\n",data)

DataFrame Example:
           Name  Age       City
0         Anne   22    Nairobi
1          Bob   25      Lagos
2  Jepchirchir   30  Ougadogou

# Indexing ,Filtering, and Slicing

In [17]:
#Selecting columns
print(data["Name"]) #single column

0           Anne
1            Bob
2    Jepchirchir
Name: Name, dtype: object

In [18]:
print(data[["Name","City"]]) #Multiple columns

          Name       City
0         Anne    Nairobi
1          Bob      Lagos
2  Jepchirchir  Ougadogou

In [19]:
#Selecting rows
print(data.iloc[0]) #First row by index position

Name       Anne
Age          22
City    Nairobi
Name: 0, dtype: object

In [20]:
print(data.loc[1, "City"]) #Row with index=1, column="City"

Lagos

In [21]:
#Filtering with conditions

In [22]:
print(df_csv[df_csv["Score"] > 85])

   StudentID   Name  Age     City        Course  Score EnrollmentDate
1        102    Bob   30   Kisumu            AI     90     15/02/2023
3        104  David   40  Eldoret    Networking     88     25/01/2023
4        105    Eva   28   Nakuru  Data Science     92     05/04/2023

In [24]:
print(df_csv[(df_csv["Age"] > 23) & (df_csv["City"] == "Nairobi")])

   StudentID   Name  Age     City        Course  Score EnrollmentDate
0        101  Alice   25  Nairobi  Data Science     85     10/01/2023

In [26]:
#Merging and Concatenation
#Concatenation Example
df1 = pd.DataFrame({"ID": [1,2], "Name": ["Alice","Bob"]})
df2 = pd.DataFrame({"ID": [1,2], "Score": [90, 85]})

concat_df = pd.concat([df1, df2], axis=1)
print("\nConcatenated DataFrame:\n", concat_df)

Concatenated DataFrame:
    ID   Name  ID  Score
0   1  Alice   1     90
1   2    Bob   2     85