# What is a string?

In [1]:
# A string is a sequence of characters(letters, numbers, symbols)
# In Python ,strings are written inside quotes( ' ' or " ")

In [4]:
name =  'Python'
print(name)

Python

In [5]:
greeting = "Hello"
print(greeting)

Hello

In [6]:
# Example on how to print
'hello world!'

'hello world!'

In [7]:
"hello world"

'hello world'

In [8]:
print('hello world')

hello world

# Creating Strings

In [9]:
# Single quote : 'Hello'
# Double quotes: : "Hello"
# Triple quotes(for multi-line)

In [14]:
details = """My name is Isack
,I study at the Technical University of Kenya
,I live in Nairobi."""

print(details)

My name is Isack,I study at the Technical University of Kenya,I live in Nairobi.

In [13]:
details = "My name is Isack,I study at the Technical University of Kenya,I live in Nairobi."
print(details)

My name is Isack,I study at the Technical University of Kenya,I live in Nairobi.

# String Operations

## Concatenation (+) - joining of strings

In [18]:
firstname = "Isack"
lastname = "Muchiri"

print(firstname + " " + lastname)

Isack Muchiri

## Repetitition of strings(*) - repeating strings

In [19]:
laugh = "ha" * 3
print(laugh)

hahaha

In [20]:
beat = "du" * 5
print(beat)

dududududu

# * Asterisk

In [21]:
 2 ** 3

8

# String Indexing and Slicing

In [22]:
# Strings are indexed(positions start at 0 )

In [35]:
word = "Python"
len(word)

6

In [36]:
print(word[0])

P

In [37]:
print(word[1])

y

In [38]:
print(word[5])

n

In [39]:
print(word[-1])

n

## Slicing

In [44]:
statment = "Python is Fun"
print(word3[0:6])

Python

In [45]:
# python has 6 characters
# indexing begins from 0

## String Formatting(f-strings)

In [54]:
name = 'Olang\'o'
age = 79
print(f"My name is {name}, I am {age} years old.")

My name is Olang'o, I am 79 years old.