In [24]:
box = 'biscuits'

## What a Variable?

In [25]:
#A variable is a storage location in a program where we can keep data

## Why do we need variables?

In [26]:
#To store information we want to use later
# To make program flexible(we can change values without rewritting everything)

In [27]:
a = 11
#a += 2  
a = a + 2
print(a)

13

In [28]:
#To keep our codes organized and readable

## Declaring and Assigning Variables

In [29]:
#Examples

In [30]:
name = "Beryl" #here, we are assigning the value Beryl to variable called name
age = 20 #we are assigning the value 20 to a variable called age
height = 1.75 # assigning value 1.75m to a variable called height.

### Rules for Naming Variables

#### 1.Must start with a letter or underscore(_)

In [31]:
#Examples

In [32]:
food = "ugali"  #lower-case
Food = "Sukumawiki" #capitalization
FOOD = "Nanasi" #Upper-case

print(food)

ugali

In [33]:
print(Food)

Sukumawiki

In [34]:
print(FOOD.upper())   #{} []  ()

NANASI

In [35]:
_name = "Isack"
_food = "maandazi"
_first_born = "Jemimah"
_last_born ="Sonko"

print(_name)

Isack

In [36]:
print(_food)

maandazi

In [37]:
print(_first_born)

Jemimah

In [38]:
print(_last_born)

Sonko

In [41]:
_first_name = 'Mitchelle'
print(_first_name)

Mitchelle

## 2.Can contain letters ,numbers, or undescores

In [42]:
#Example

In [43]:
name1 = "Jordan"
name_1 = "Tomboy"
_name_1 = "Mishra"
print(name1)

Jordan

In [44]:
print(name_1)

Tomboy

In [45]:
print(_name_1)

Mishra

## 3.CANNOT USE SPACES(my age is wrong,instead use my_age)

In [48]:
name_1 = "Jordan"
my_age = 79
print(name_1)
print(my_age)

Jordan
79

## 4.WE CANNOT USE RESERVED KEYWORDS(e.g, print,if,while, class,True,False)

In [49]:
#Built-in functions

In [50]:
#print,

In [51]:
#print = "Isack"
#name 
#if 
#while
#len
#type

## 5.Case-Sensitive

In [53]:
age = 21
AGE = 20
Age = 22
#AGE != age
print(age)
print(AGE)
print(Age)

21
20
22

## Types of Data a Variable can HOLD

In [56]:
#Numbers(integers-whole numbers)
#Decimal numbers - floats
# Text(Strings) 
#Boolean(True/False)

## Numbers

In [59]:
marks = 90 #this is an integer
pi = 3.14 #this is a float
r = 2
area = pi*r**2
print(area)

12.56

# String

In [60]:
city = "Kendu Bay"
print(city)

Kendu Bay

In [61]:
name = "Ribashongilogasheshiakili"
print(name)

Ribashongilogasheshiakili

In [62]:
_last_name = "Olang'o"
print(_last_name)

Olang'o

In [66]:
_last_name = 'Olang\'o'        
print(_last_name)

Olang'o

# Boolean(True/False)

In [67]:
is_student = True
print(is_student)

True

# Examples

In [69]:
#storing information 
student_name = "Stefan"
student_age = 145
student_grade = "A"

#Using the variables
print(student_name, "is" ,student_age, "years old and got grade", student_grade)

Stefan is 145 years old and got grade A

## CLASS ACTIVTY

In [70]:
# Create 4 variables using different rules for each and print them

In [71]:
# Make a statement from the variables and print

In [78]:
Food = "Omena"
nutrient_1 = "protein"
_age = 15
is_agreed = True
print("Is", Food, "a good source of", nutrient_1, "for children under ", age, 'years old',"?",is_agreed)

Is Omena a good source of protein for children under  21 years old ? True

## Irene's work

In [79]:
name_1 = "dog"
age = 5
day = "Tuesday"
print("The", name_1, "turns", age, "on", day)

The dog turns 5 on Tuesday

## Milton's Work

In [84]:
Runners_name = "Eliud Kipchoge"
Runners_Distance = 20
Running_time = 2

print(Runners_name, "was awarded for running",Runners_Distance,"km under", Running_time," hours during the world championship")

Eliud Kipchoge was awarded for running 20 km under 2  hours during the world championship